

table
{
    background-color: rgb(0,0,225);
    border-spacing: 10px;
}

td
{
    background-color: rgb(225,225,225);
    height:100px;
    width:100px;
    border-radius: 50px;
}

.red
{
    background-color: rgb(225,0,0);
}
.yellow
{
    background-color: rgb(225,225,0);
}